


#conteneur
{
	display: flex;
	justify-content: flex-center;
}

<header>
{
	border-style:solid;
}

{
	display:flex;
}

</header>
<nav>
{
	border-style: solid;

}

<flex-direction: column;

#conteneur

div 
{
	border-radius: 3px black solid
}
{
	font-weight:bold; 

}

